<% @users.each do |user| %>
  <div>
    <p>User:<%= image_tag user.get_profile_image(100,100) %></p>
    <%= link_to user_path(user.id) do %>
      <p>User Name:<%= user.name %></p>
    <% end %>
  </div>
<% end %>
<%= render 'books/new', book: @book %>